{% extends "@Contao/content_element/_base.html.twig" %}
{% use "@Contao/component/_figure.html.twig" %}

{% block content %}
    <div id="bannerImg{{ data.id }}" class="inside">
        {% with {figure: image} %}{{ block('figure_component') }}{% endwith %}
        {% if addText %}
            <div class="banner-text">
                <div class="inside">
                    {{ text|insert_tag|raw }}
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}